 <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">DASHBOARD</li>
        <li class="active"><a href="#">Runs</a></li>
        <li><a href="#">Shoes</a></li>
        <li><a href="#">Plans</a></li>
        <li><a href="#">Coaches</a></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
